@use "./variables.scss" as *;

//Обертки:
.relative {
  position: relative;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.m-auto {
  margin: 0 auto;
}

//Цвета:
.bg-primary {
  background-color: $c-primary;
}
.bg-secondary {
  background-color: $c-secondary;
}

//Цвета текста:
.color-primary {
  color: $c-f-primary;
}
.color-secondary {
  color: $c-f-secondary;
}

//Размеры:
.w-full {
  width: 100%;
}

//Размеры шрифта:
.text-sm {
  font-size: $fs-sm;
}

//Отступы:
.gap-md {
  gap: 8px;
}

.gap-3xl {
  gap: 32px;
}
